<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">XchangeRatePredictor (Rates with respect to USD)</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Currency</th>
               <th>Date</th>
               <th>Predictions</th>
            </tr>
         </thead>

         <tbody>
            {% for pred in predictions %}
               <tr>
                   <td>{{ pred.CURRENCY }}</td>
                   <td>{{ pred.PRED_DATE }}</td>
                   <td>{{ pred.PRED_RATE }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

</body>
</html>